/* Mariana */

.categories_container{
    display: flex;
}

.categories-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.categories__title{
    font-family: Roboto;
    text-align: center;
    color: rgb(161, 93, 65);
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
}

.categories__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    justify-content: center;
    flex-wrap: wrap;
}

.category-item{
    background-color: var(--color-white);

    border: 1px solid rgb(202, 127, 109);
    border-radius: 10px;

    height: 170px;
    width: 150px;

    flex-direction: column;
    display: flex;
    align-items: center;

    padding: 15px;
    gap: 10px;
    
    
    
    
    
    
    
}

.category-item:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(199, 199, 199);
}

.category-item__img{
    display: block;
    width: 100px;
    height: 100px;

    border-radius: 50%;
    overflow: hidden;

    border: solid 3px #1d3557;
}

.button--small{

    background-color: rgb(241, 163, 18);
    text-align: center;
    border-radius: 5px;
    width: 100px;
    padding: 2px;
    height: 23px;
    color: black;
    font-family: "Roboto";
    
   
    
    
    
}


