.categories_container{
    display: flex;
    


}

.categories img{
    width: 150px;
    display: block;

    border-radius: 50px;
    object-fit: cover;
    border: solid 3px black;
    clip-path: circle();
    
    
    
    

    overflow: hidden;
    

    

}

.categories__title{
    font-family: Roboto;
    text-align: center;
    color: rgb(110, 99, 172);
    text-transform: uppercase;
    
    
}

.categories__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.category-item{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(100, 100, 100, 0.288);
    border-radius: 10px;
    height: 150px;
    
    
    
    
    
    
    
    
}

.category-item:hover{
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(199, 199, 199);


}

.category-item__img{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    

    
    
    
    
    

}




.button--small{
    background-color: rgb(255, 172, 18);
   
    border-radius: 5px;
    width: 100px;
    padding: 2px;
    height: 23px;
    color: black;
    font-family: Roboto;
    
}


