.products {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.products__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.products__title{
    text-transform: uppercase;
    padding: 5%;
    text-align: center;
    color: rgb(34, 54, 145);
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.274);
    transition: box-shadow .3s ease;

    background-color: var(--color-white);
}

.card:hover{
    transform: translateY(-5px);
}

.card_body{
    display: flex;
    flex-direction: column;
}

.card__image{
    width: 100%;
    height: 180px;       
    object-fit: cover;  
    border-radius: 5px 5px 0 0;
}
.card__title{
    color: rgb(34, 54, 145);
    padding: 10px;
    font-family: "Roboto";
    text-transform: uppercase;
}
.card__description{
    padding: 5px;
    color: #555;
    font-family: "Roboto";
    flex-grow: 1;
}
.card__price{
    color: red;
    
}
.button--primary{
    border-radius: 5px;
    padding: 10px;
    border: solid 2px rgb(240, 60, 60);
    background-color: rgb(240, 60, 60);
    color: white;
}

.button__comprar{
    display: flex;
    padding: 5px;
    background-color: rgb(238, 182, 78);
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    border-radius: 4px;

}