.products {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: aqua;
    
}

.products__container{
    
}

.products__grid{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
}

.products__title{
    display: flex;
    padding: 5%;
    
    justify-content: center;
}


.card{
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 5px;
    overflow: hidden;
    
}

.card__body{
    border: solid 1px;
    
 }

.card__image{
    width: 100%;
    height: 180px;       
    object-fit: cover;  
    display: block;
    border-radius: 5px 5px 0 0;
}


.card__footer{
    padding: 10px;
}


.card__title{
    color: brown;
    padding: 10px;
}

.card__description{
    padding: 5px;
    
}

.card__image-wrapper{

}


.card__price{

}