.header{
    background-color: #ff0000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    
    
    
}

.header__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.header__logo{
    display: flex;
    color: var(--color-white);
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    
}

.header__menu{
    display: flex;
}

.header__item{
    display: flex;
    margin-right: 50px;
    align-items: center;
    }

.header__link{
    color: black;
    font-weight: 600;
}

.header__link:hover{
    font-weight: 700;
    transition: color 0.2s ease;
}

.header__social{
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}

.header__icon{
    color: black;

}

.header__icon:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.header__toggle{
    display: none;
}

body{
    background-color:rgb(255, 255, 255);

}

.banner {
    height: 55vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('https://images.pexels.com/photos/12034622/pexels-photo-12034622.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-direction: column;
    text-align: center;
    color: var(--color-white);
}

.banner__content{
    display: flex;
    flex-direction: column;

}

.banner__title{
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
}


.banner__title--highlight{
    color: red;
}

.banner__subtitle{
    color: white;
}






























.footer{
    /* position:fixed; */
    bottom: 0;
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content:center;
    margin-top: 20px;
    
}



.footer__text{
    align-items: center;
    padding: 15px;
    justify-content: center;
    background-color: #ff0000;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}