.header{
    background-color: #ff0000;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.header__container{
    display: flex;
    padding: 25px;
}


.header__logo{

}

.header__nav{
    display: flex;
}

.header__menu{
    display: flex;
}


.header__item{

}

.header__link{
    color: black;
}

.header__social{

}

.header__item{
    display: block;
    padding: 10px;
}


.header__ic0on{

}

.header__













body{
    background-color:rgb(255, 255, 255);

}

































.footer{
    /* position:fixed; */
    bottom: 0;
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content:center
    
    
    
}



.footer__text{
    align-items: center;
    padding: 15px;
    justify-content: center;
    background-color: #ff0000;
    
    
}