@media (max-width: 480px) {
    .products__grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .card__image {
        height: 120px;
    }
    .products__title {
        font-size: 1rem;
        padding: 2%;
    }
    .card__title {
        font-size: 0.9rem;
    }
    .card__description {
        font-size: 0.8rem;
    }
    .button--primary {
        padding: 8px;
        font-size: 0.9rem;
    }
    .button__comprar {
        padding: 4px;
        font-size: 0.8rem;
    }
    .banner {
    height: 65vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('https://images.pexels.com/photos/12034622/pexels-photo-12034622.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-direction: column;
    text-align: center;
    color: var(--color-white);
}
    .header{
        background-color: #ff0000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
    
}

}
@media(min-width: 768px){

   
}

@media(min-width: 1024px){
    .products {
        display: flex;
        max-width: 800px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .products__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .products__title{
        text-transform: uppercase;
        padding: 5%;
        text-align: center;
        color: rgb(34, 54, 145);
    }
    .card{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.274);
        transition: box-shadow .3s ease;
    
        background-color: var(--color-white);
    }
    
    .card:hover{
        transform: translateY(-5px);
    }
    
    .card_body{
        display: flex;
        flex-direction: column;
    }
    
    .card__image{
        width: 100%;
        height: 180px;       
        object-fit: cover;  
        border-radius: 5px 5px 0 0;
    }
    .card__title{
        color: rgb(34, 54, 145);
        padding: 10px;
        font-family: "Roboto";
        text-transform: uppercase;
    }
   
    
}

